[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=#APPNAME#
GenericName=#APPNAME#
Exec=#INSTALLPATH#/bin/bdj4
Icon=#INSTALLPATH#/img/bdj4_icon.svg
Path=#WORKDIR#
Terminal=false
Type=Application
Categories=Audio;Player
Comment=Ballroom Music Player
Comment[nl]=Ballroom muziekspeler
Comment[fi]=Ballroom Musiikkisoitin
Comment[no]=Ballroom musikkspiller
Comment[zh_CN]=舞厅音乐播放器
Comment[zh_TW]=舞廳音樂播放器
Keywords=Player;Audio
