[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=BDJ4
GenericName=BallroomDJ 4
Exec=#INSTALLPATH#/bin/bdj4
Terminal=false
Icon=#INSTALLPATH#/img/bdj4_icon.svg
Type=Application
Categories=Application;Music Player
Comment=Ballroom Music Player
