[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=BDJ4
GenericName=BDJ4
Exec=#INSTALLPATH#/bin/bdj4
Terminal=false
Icon=#INSTALLPATH#/img/bdj4_icon.svg
Type=Application
Categories=Audio;Player
Comment=Ballroom Music Player
Keywords=Player;Audio
