# BDJ4 dances
# Fri Jan 07 10:47:40 GMT 2022
version
..1
count
..20
KEY
..0
DANCE
..Argentine Tango
TYPE
..smooth
SPEED
..normal
TAGS
..tango club
COUNT
..2
SELECT
..0
LOWBPM
..120
HIGHBPM
..128
ANNOUNCE
..
TIMESIG
..2/4
KEY
..1
DANCE
..Bachata
TYPE
..rhythm
SPEED
..normal
TAGS
..club
COUNT
..2
SELECT
..0
LOWBPM
..
HIGHBPM
..
ANNOUNCE
..
TIMESIG
..4/4
KEY
..2
DANCE
..Bolero
TYPE
..rhythm
SPEED
..slow
TAGS
..rumba
COUNT
..3
SELECT
..1
LOWBPM
..96
HIGHBPM
..104
ANNOUNCE
..
TIMESIG
..4/4
KEY
..3
DANCE
..Cha Cha
TYPE
..rhythm
SPEED
..normal
TAGS
..
COUNT
..5
SELECT
..1
LOWBPM
..124
HIGHBPM
..124
ANNOUNCE
..
TIMESIG
..4/4
KEY
..4
DANCE
..East Coast Swing
TYPE
..rhythm
SPEED
..normal
TAGS
..swing
COUNT
..2
SELECT
..1
LOWBPM
..136
HIGHBPM
..144
ANNOUNCE
..
TIMESIG
..4/4
KEY
..5
DANCE
..Foxtrot
TYPE
..smooth
SPEED
..normal
TAGS
..
COUNT
..7
SELECT
..1
LOWBPM
..112
HIGHBPM
..120
ANNOUNCE
..
TIMESIG
..4/4
KEY
..6
DANCE
..Hustle
TYPE
..club
SPEED
..fast
TAGS
..club
COUNT
..3
SELECT
..1
LOWBPM
..112
HIGHBPM
..120
ANNOUNCE
..
TIMESIG
..4/4
KEY
..7
DANCE
..Jive
TYPE
..rhythm
SPEED
..fast
TAGS
..swing
COUNT
..2
SELECT
..1
LOWBPM
..152
HIGHBPM
..176
ANNOUNCE
..
TIMESIG
..4/4
KEY
..8
DANCE
..Mambo
TYPE
..rhythm
SPEED
..normal
TAGS
..salsa
COUNT
..4
SELECT
..0
LOWBPM
..188
HIGHBPM
..188
ANNOUNCE
..
TIMESIG
..4/4
KEY
..9
DANCE
..Merengue
TYPE
..rhythm
SPEED
..normal
TAGS
..
COUNT
..1
SELECT
..1
LOWBPM
..112
HIGHBPM
..122
ANNOUNCE
..
TIMESIG
..4/4
KEY
..10
DANCE
..NC2S
TYPE
..club
SPEED
..normal
TAGS
..club
COUNT
..5
SELECT
..1
LOWBPM
..200
HIGHBPM
..368
ANNOUNCE
..
TIMESIG
..4/4
KEY
..11
DANCE
..Paso Doble
TYPE
..rhythm
SPEED
..normal
TAGS
..
COUNT
..4
SELECT
..0
LOWBPM
..120
HIGHBPM
..124
ANNOUNCE
..
TIMESIG
..2/4
KEY
..12
DANCE
..Quickstep
TYPE
..smooth
SPEED
..fast
TAGS
..
COUNT
..4
SELECT
..1
LOWBPM
..192
HIGHBPM
..208
ANNOUNCE
..
TIMESIG
..4/4
KEY
..13
DANCE
..Rumba
TYPE
..rhythm
SPEED
..normal
TAGS
..rumba
COUNT
..5
SELECT
..1
LOWBPM
..104
HIGHBPM
..108
ANNOUNCE
..
TIMESIG
..4/4
KEY
..14
DANCE
..Salsa
TYPE
..rhythm
SPEED
..fast
TAGS
..salsa club
COUNT
..2
SELECT
..1
LOWBPM
..160
HIGHBPM
..200
ANNOUNCE
..
TIMESIG
..4/4
KEY
..15
DANCE
..Samba
TYPE
..rhythm
SPEED
..normal
TAGS
..
COUNT
..3
SELECT
..1
LOWBPM
..96
HIGHBPM
..100
ANNOUNCE
..
TIMESIG
..2/4
KEY
..16
DANCE
..Tango
TYPE
..smooth
SPEED
..normal
TAGS
..tango
COUNT
..7
SELECT
..1
LOWBPM
..128
HIGHBPM
..128
ANNOUNCE
..
TIMESIG
..2/4
KEY
..17
DANCE
..Viennese Waltz
TYPE
..smooth
SPEED
..fast
TAGS
..waltz
COUNT
..3
SELECT
..1
LOWBPM
..174
HIGHBPM
..180
ANNOUNCE
..
TIMESIG
..3/4
KEY
..18
DANCE
..Waltz
TYPE
..smooth
SPEED
..normal
TAGS
..waltz
COUNT
..7
SELECT
..1
LOWBPM
..84
HIGHBPM
..90
ANNOUNCE
..
TIMESIG
..3/4
KEY
..19
DANCE
..West Coast Swing
TYPE
..club
SPEED
..normal
TAGS
..swing club
COUNT
..5
SELECT
..1
LOWBPM
..90
HIGHBPM
..120
ANNOUNCE
..
TIMESIG
..4/4
