# BDJ4 playlist settings
# Converted from data/standardrounds.playlist
# Fri Jan 07 10:47:40 GMT 2022
VERSION
..5
ALLOWEDKEYWORDS
..
DANCERATING
..Poor
GAP
..
MANUALLIST
..
MAXPLAYTIME
..
MQMESSAGE
..
PAUSEEACHSONG
..no
PLAYANNOUNCE
..no
REQUIREDKEYWORDS
..
RESUME
..From Start
SEQUENCE
..standardrounds
USESTATUS
..no
STOPAFTER
..0
STOPAFTERWAIT
..Continue
STOPTIME
..
STOPTYPE
..In
STOPWAIT
..Continue
USEUNRATED
..no
LOWDANCELEVEL
..Easy
HIGHDANCELEVEL
..Advanced
TYPE
..Sequence
